body
{
	font-family: 'Lato', sans-serif;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover 
{
    color: #555;
    cursor: default;
    background-color: #fff;
    border:none;
    border-bottom: 2px solid #982323;
    border-bottom-color: #3aab0b;
}
.nav-tabs
{
	font-size: 20px;
	font-weight: bold;
	color: #141415;
}
.nav-tabs li a
{
	color: #141415;
}
.data
{
	margin-top: 3em;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th 
{
    border-top: 0;
    padding:3em 0px 1em 1em;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, 
.table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 3em 0px 1em 1em;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}